page-bingo {

  /* Links */
  a,
  a:focus,
  a:hover {
    color: #fff;
  }

  /* Custom default button */
  .btn-default,
  .btn-default:hover,
  .btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
  }

  .main {
    height: 100%;
    /*background-color: #333;*/
    background-image: url('../assets/imgs/top-back.svg');
    background-size: cover;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }

  .mgl {
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: tb-lr;
    -webkit-text-orientation: sideways-right;
  }

  @media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
      position: fixed;
      top: 0;
    }
    .mastfoot {
      position: fixed;
      bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
      vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
      width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }

    #main-area {
      height: 500px;
    }
  }

  @media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
      width: 700px;
    }
    #main-area {
      height: 600px;
    }
  }

  @media (min-width: 400px) {
    #main-area {
      height: 100%;
    }
  }

  /*
  * Party Bingo
  */

  #pingo-number {
    text-align: left;
    padding: 3px;
    width: 50%;
    float: left;
    font-size: 30vw;
    font-family: none;
    text-shadow: 11px 13px 25px #000;
    margin: 0;
  }
  #p-number-mgl {
    text-align: left;
    width: 15%;
    float: left;
    font-family: Mongolian ZS;
  }
  #pingo-number-mgl {
    font-size: 10vw;
    text-shadow: 12px 13px 25px #000;
    padding: 3px;
  }
  #buttons {
    width: 25%;
    padding-top: 15%;
    font-family: Menk Egulen Tig;
    float: right;
  }
  .my-button {
    margin-right: 8px;
    display: inline-block;
    background-color: #26a69b;/*背景色*/
    color: #FFF;/*文字色*/
    font-size: 5vw;/*文字サイズ*/
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em;/*字間*/
    padding: 0.2em 0.4em;/*ボタン内の余白*/
    border-radius: 3px;/*角の丸み*/
      cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-out;/*変化を緩やかに*/
  }
  #start-button {
    background-color: #2648a6;/*背景色*/
  }
  #reset-button {
    background-color: #a6262c;/*背景色*/
  }
  #history-area {
    clear: both;
  }
  .history-title {
    width: 10%;
    float: left;
    font-family: Menk Egulen Tig;
    text-shadow: 12px 13px 25px #000;
    padding: 20px 40px;
  }
  .histories {
    width: 90%
  }
  .history-number {
    font-size: 10vw;
    margin: 5px 0px 0px 15px;
  }
}
